spring:
  application:
    name: spring-crm

  docker:
    compose:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration